<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>695750890016-vsnmpjuck6ifn31b57ag8sahi0fmfts8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.695750890016-vsnmpjuck6ifn31b57ag8sahi0fmfts8</string>
	<key>API_KEY</key>
	<string>AIzaSyCa8cS_9k4xl4sH4nrpVWQnEIKASN0jAqw</string>
	<key>GCM_SENDER_ID</key>
	<string>695750890016</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.name.MyAwesomeApp</string>
	<key>PROJECT_ID</key>
	<string>speakeasy-ios</string>
	<key>STORAGE_BUCKET</key>
	<string>speakeasy-ios.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:695750890016:ios:2066cfb8988edefd0c2245</string>
	<key>DATABASE_URL</key>
	<string>https://speakeasy-ios.firebaseio.com</string>
</dict>
</plist>